@import "tailwindcss";
@plugin "@tailwindcss/typography";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

html {
  scrollbar-width: none;
  scroll-padding-top: 56px;
  scroll-behavior: smooth;
}

::selection {
  background-color: var(--color-pink-200);
}