.origin-markdown {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.6;
  font-size: 16px;
  color: #333;

  & p {
    margin-top: 0px;
    margin-bottom: 18px;
  }

  & ul,
  & ol {
    margin-top: 0px;
    margin-bottom: 18px;
  }

  & h1,
  & h2,
  & h3,
  & h4 {
    color: #2c3e50;
    font-weight: 600;
    margin-top: 2rem;
    margin-bottom: 0.8rem;
    padding-bottom: 0.2rem;
  }

  & h1 {
    font-size: 2.2rem;
    border-bottom: 3px solid #3498db;
  }

  & h2 {
    font-size: 1.8rem;
    border-bottom: 1px dashed #bdc3c7;
  }

  & h3 {
    font-size: 1.4rem;
    color: #34495e;
  }

  & h4 {
    font-size: 1.2rem;
    color: #7f8c8d;
  }

  & strong,
  & b {
    /* color: #1abc9c; */
  }

  & em,
  & i {
    font-style: italic;
    color: #3498db;
  }

  & a {
    color: #2980b9;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  & ul,
  & ol {
    margin: 1rem 0;
    padding-left: 20px;
  }

  & ul li {
    list-style-type: disc;
    margin-bottom: 0.4rem;
  }

  & ol li {
    margin-bottom: 0.4rem;
  }

  & blockquote {
    border-left: 5px solid #f39c12;
    background-color: #fffaf0;
    padding: 10px 15px;
    margin: 1.5rem 0;
    font-style: italic;
    color: #555;
  }

  & blockquote p {
    margin: 0;
  }

  & hr {
    border: 0;
    border-top: 1px solid #bdc3c7;
    margin: 3rem 0;
  }

  & code {
    background-color: #ecf0f1;
    padding: 2px 5px;
    border-radius: 4px;
    font-family: 'Consolas', 'Courier New', monospace;
    font-size: 0.95em;
    vertical-align: text-top;
  }
}