*{
  padding: 0px;
  margin: 0px;
}
.container{
  margin: 0px auto;
  transition: width 0.5s;
  padding-left: 16px;
  padding-right: 16px;
  box-sizing: border-box;
}

/* 在小屏幕上应用不同的样式 */
@media (max-width: 576px) {
  .container {
      width: 100%;
  }
}

/* 在中等屏幕上应用不同的样式 */
@media (min-width: 577px) and (max-width: 768px) {
  .container {
      width: 540px;
  }
}

/* 在大屏幕上应用不同的样式 */
@media (min-width: 769px) and (max-width: 992px) {
  .container {
      width: 720px;
  }
}

/* 在小屏幕上应用不同的样式 */
@media (min-width: 993px) and (max-width: 1200px) {
  .container {
      width: 960px;
  }
}

/* 在中等屏幕上应用不同的样式 */
@media (min-width: 1201px) and (max-width: 1400px) {
  .container {
      width: 1140px;
  }
}

/* 在大屏幕上应用不同的样式 */
@media (min-width: 1400px) {
  .container {
      width: 1320px;
  }
}

.nav{
  display: flex;
  justify-content: space-between;
  height: 47px;
  line-height: 47px;
}
.menu{
  display: flex;
  gap: 10px;
  justify-content: flex-start;
}
a{
  color: #316cf4;
  text-decoration: none;
}